$basic_fs: 12px; // 基础文字大小
$bg-color: #409EFF;  //全局背景色调
$bgfont-color: #fff;  //图标文字色调
$font-color: #666; //文字颜色
$thbg-color: #f2f2f2;  //table th背景色
$boder-color: #eee; //边框颜色
$form-ftcolor: #303133; // 主要文字颜色
$general_color: #606266; //常规颜色
$minor_color: #909399; //次要颜色
